<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV-Api</title>
</head>
<body>
{% if page %}
  <h1> {{ page }}!</h1>
{% else %}
  <h1>Welcome!</h1>
{% endif %}

{% if description %}
<p>
  {{ description }}
</p>
{% else %}
  <p>No description</p>
{% endif %}

{% if data %}
  <p>
    {{ data }}
  </p>
{% else %}
<p>
  No Data!
</p>
{% endif %}

</body>
</html>